{{define "title"}}Compose{{end}}
{{define "content"}}
  <form action="/send" method="post">
    <div class="row">
      <div class="six columns">
        <label for="from">From</label>
        <input class="u-full-width" type="text" name="from" placeholder="you@example.com">
      </div>
      <div class="six columns">
        <label for="to">To</label>
        <input class="u-full-width" type="text" name="to" placeholder="me@example.com">
      </div>
    </div>

    <div class="row">
      <label for="subject">Subject</label>
      <input class="u-full-width" type="text" name="subject" placeholder="Hello">
    </div>

    <div class="row">
      <label for="body">Body</label>
      <textarea class="u-full-width" name="body" placeholder="Body" style="min-height: 95px"></textarea>
    </div>

    <button class="button-primary" type="submit">Submit</button>
    <button type="submit" disabled>Save as draft</button>
  </form>
{{end}}
