{{define "title"}}Compose{{end}}
{{define "content"}}
  <form action="/send" method="post">
    <input type="text" name="from" placeholder="From">
    <br>
    <input type="text" name="to" placeholder="To">
    <br>
    <textarea name="body" placeholder="Body"></textarea>
    <br>
    <button type="submit">Submit</button>
  </form>
{{end}}
