{{define "title"}}Inbox{{end}}
{{define "content"}}
  <ol>
    <li class="preview"><a href="/mail/1">Sample message 1</a></li>
    <li class="preview"><a href="/mail/2">Sample message 2</a></li>
  </ul>
{{end}}
