{{define "title"}}Inbox{{end}}
{{define "content"}}
  <ol>
    {{range .}}
      <li class="preview"><a href="/mail/{{.ID}}">{{ .From.Address }} {{ .Subject }}</a></li>
    {{else}}
      <li>No messages</li>
    {{end}}
  </ul>
{{end}}
