{{define "title"}}Message{{end}}
{{define "content"}}
  <div><label>From:</label> <strong>{{ .From.Name }}</strong> &lt;{{ .From.Address }}&gt;</div>
  <div><label>Subject:</label> {{ .Subject }}</div>
  <div><p>{{ .Body }}</p></div>
{{end}}
