{{define "title"}}Message{{end}}
{{define "content"}}
  <table class="mail-headers">
    <tbody>
      <tr>
        <th>from</th>
        {{ range .From }}
          <td>{{ .Name }} &lt;{{ .Address }}&gt;</td>
        {{ end }}
      </tr>
      <tr>
        <th>to</th>
        {{ range .To }}
          <td>{{ .Address }}</td>
        {{ end }}
      </tr>
      <tr>
        <th>date</th>
        <td>{{ .Date }}</td>
      </tr>
      <tr>
        <th>subject</th>
        <td>{{ .Subject }}</td>
      </tr>
    </tbody>
  </table>
  <p><a href="?method=delete">Delete message</a></p>
  <pre><code>{{ if .Body.Plain }}{{ .Body.Plain }}{{ else }} {{ .Body.HTML }}{{ end }}</code></pre>
{{end}}
