/*a, a:link, a:visited {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}*/

ol {
  list-style: none;
  padding-left: 0;
}

pre {
  font-family: monospace;
}

.mail-headers th {
  text-align: right;
}

.mail-headers td {
  padding-left: 12px;
}

.preview {
  display: inline-block;
  max-width: 38em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.preview.read {
  font-weight: bold;
}

.preview > :first-child {
  display: inline-block;
  width: 11em;
}
